<% content_for :javascripts do %>
  <%= javascript_include_tag :fckeditor %>
<%end%>
<h1><%=t 'editing_page'%></h1>

<% form_for(@page) do |f| %>
<%= render :partial => 'form' , :object => f %>
<% end %>

<%= link_to 'Show', @page %>
